
.caption{ color: rgb(77, 77, 77);
font-family:Verdana, Geneva, Tahoma, sans-serif}

.header{ 
font-weight: bolder;
top: 5px;
left: 5px;
right: 5px;
height: 130px;
color: rgb(77, 77, 77);
border-bottom: solid grey 2px;

}


.main{
padding-left: 70px;
padding-right: 70px;
padding-top: 10px;

}
.common {background-color: rgb(219, 209, 209);}
.footer{ text-align:center;
    height:100px;
    left: 15px;
    right: 15px;
    bottom: 5px;
    color: rgb(77, 77, 77);
    border-top: solid grey 2px;
    }
.center{ text-align:center}
.italic {font-style: italic;}

